/* seperate style sheet to reference on each page that repeats this content */

* {
    padding: 0;
    margin: 0;
}

/* hide the scrollbar for consistency */
body::-webkit-scrollbar {
    display: none;
}

/* body styling */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* flexbox container for navbar content */
.flex-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

/* styling for each section in the navbar flexbox */
.flex-box section, .recent-work-container section {
    border: 2px dashed #000;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    flex: 0 0 auto;
    transition: background-color 0.3s ease;
}

.flex-box section a {
    text-decoration: none;
    color: inherit;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1.3rem 5rem;
    max-width: 7rem;   
    min-width: 7rem;
    justify-content: center;
}

.flex-box section:hover {
    background-color: #e0e0e0;
}

.flex-box .current-page {
    background-color: rgb(182, 182, 182);
}

/* header styling */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #000;
    border-radius: 10px;
    padding: 2rem;
    background-color: #fff;
}

/* break between header and main content */
.header-break {
    padding: 1rem;
}

/* footer styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: 2px dashed #000;
    border-radius: 10px;
    padding: 1rem 0;
    background-color: #fff;
}

