*{
    padding: 0;
    margin: 0;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
}

.header{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    /* max-width: calc(100% - 20px); */
}

.flex-box section{
    outline: 2px solid black;
    padding: 33%;
}

.header {
    outline: 2px solid black;
    padding: 5rem;
}
